.wrapper {
    display: flex;
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    align-items: center;
    position: relative;
}

.wrapper.child {
    padding: 0;
}

.wrapper:hover {
    background-color: var(--Background-color-4);
    cursor: pointer;
}

.logo {
    min-width: 58px;
    min-height: 58px;
    margin-right: 14px;
}

.wrapper.child:hover {
    background-color: #fff;
}

.titleWrapper {
    max-height: max-content;
    display: flex;
    flex-direction: column;
}

.titleWrapper h5 {
    font-size: 18px;
    font-weight: 700;
    color: var(--Text-color-2);
    border-radius: 20px;
    margin-bottom: 5px;
}

.titleWrapper p {
    font-size: 14px;
    font-weight: 500;
    color: var(--Text-color-4);
}

.titleWrapper span {
    border-radius: 50%;
    background-color: var(--Background-color-1);

    min-height: 6px;
    min-width: 6px;
    width: 6px;
    height: 6px;
}

.subTitle {
    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow {
    position: absolute;
    top: 12px;
    right: 44px;
    opacity: 0;
    transition: all .1s ease-out;
}

.wrapper:hover .arrow {
    right: 12px;
    opacity: 1;
}

.wrapper.child .arrow {
    right: 24px;
}

.wrapper.child:hover .arrow {
    right: 0;
    opacity: 0;
}

p.featured {
    margin-left: -3px;
    font-size: 14px;
    font-weight: 700;
    color: var(--Primary5);
}

@media screen and (max-width: 1024px) {
    p.featured {
       display: none;
    }
}