.wrapper {
    display: flex;
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100%;
}

.wrapper.child {
    padding: 0;
    border-radius: 0;
}

.wrapper:hover {
    background-color: var(--Background-color-4);
    cursor: pointer;
}


.wrapper.child:hover {
    background-color: #fff;
}

.imageWrapper{
    display: flex;
    position: relative;
    margin-right: 14px;
    
}

.logo {
    min-width: 58px;
    min-height: 58px;
}

.featuredLogo {
    position: absolute;
    right: -10px;
    top: -10px;
    border: solid 3px #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.wrapper:hover .featuredLogo {
    border: solid 3px var(--Background-color-4);
}

.titleWrapper {
    max-height: max-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.titleWrapper .title {
    font-size: 18px;
    font-weight: 700;
    color: var(--Text-color-2);
    border-radius: 20px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding-right: 20px;

}

.wrapper.child .titleWrapper .title {
    padding-right: 5px;

}

.titleWrapper p {
    font-size: 14px;
    font-weight: 500;
    color: var(--Text-color-4);
}

.titleWrapper span {
    border-radius: 50%;
    background-color: var(--Background-color-1);

    min-height: 6px;
    min-width: 6px;
    width: 6px;
    height: 6px;
}

.subTitle {
    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow {
    position: absolute;
    top: 12px;
    right: 44px;
    opacity: 0;
    transition: all .1s ease-out;
}

.wrapper:hover .arrow {
    right: 12px;
    opacity: 1;
}

.wrapper.child .arrow {
    right: 24px;
}

.wrapper.child:hover .arrow {
    right: 0;
    opacity: 0;
}

p.featured {
    margin-left: -3px;
    font-size: 14px;
    font-weight: 700;
    color: var(--Primary5);
}

@media screen and (max-width: 1024px) {
    p.featured {
       display: none;
    }
}