.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    
    z-index: 20;
    padding: 22px;
    margin: 0 5px;

    transform: translate(-50%, -40%);
    margin-top: -5%;
    max-width: 461px;
    width: 100%;
    background-color: var(--Primary6);
    border-radius: 24px;
    border: solid 1px var(--Background-color-2);
    box-shadow: var(--Shadow-card-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.form p {
    color: var(--Primary4);
    width: 100%;
    border-radius: 10px;
}

.form input {
    width: 100%;
}

.form span {
    width: 100%;
}

.field {
    font-size: 14px;
    font-weight: 400;
    color: var(--Text-color-2);
    display: flex;
    flex: 1;
    
    width: 100%;
    padding: 13px 38px;
    
    border-radius: 14px;
    border: 1px solid var(--Background-color-2);

    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: var(--Shadow-buttons-default);
    margin-bottom: 15px;
    transition: all ease-in-out .1s;
}

.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus,
.field:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 10em white inset !important;
  -webkit-text-fill-color: var(--Text-color-2) !important;
}

.field:focus {
    outline: none;
    border: 1px solid var(--disabled-color-button-disabled-1, rgba(36, 137, 255, 0.50));
    background: var(--background-colors-background-5, #FFF);
    box-shadow: 0px 4px 10px 0px rgba(36, 137, 255, 0.40), 0px 0px 0px 3px rgba(36, 137, 255, 0.25);
}

.field::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: var(--Text-color-5);
}

.errorField {
    border-radius: 14px;
    border: 1px solid var(--disabled-color-button-disabled-4, rgba(255, 85, 95, 0.50));
    background: var(--background-colors-background-5, #FFF);
    /* Form Styles/Form Wrong */
    box-shadow: 0px 4px 10px 0px rgba(255, 85, 95, 0.40), 0px 0px 0px 3px rgba(255, 85, 95, 0.25);
}

.field.errorField:focus {
    border-radius: 14px;
    border: 1px solid var(--disabled-color-button-disabled-4, rgba(255, 85, 95, 0.50));
    background: var(--background-colors-background-5, #FFF);
    /* Form Styles/Form Wrong */
    box-shadow: 0px 4px 10px 0px rgba(255, 85, 95, 0.40), 0px 0px 0px 3px rgba(255, 85, 95, 0.25);
}

.errorText {
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    background-color: none;
    text-align: left;
    margin-bottom: 10px;
    margin-top: -5px;
}

.recaptcha {
    max-width: max-content;
    margin-bottom: 15px;
}

.submit{
    display: none;
}

.wrapper h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: var(--Text-color-2);
    text-align: left;
}

.wrapper p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--Text-color-3);
    text-align: left;
}

.searchLogo {
    position: absolute;
    top: 11px;
    left: 10px;
    cursor: pointer;
}

.access {
    display: flex;
    width: 100%;
    background-color: var(--Secondary2);
    padding: 10px 14px;
    border-radius: 16px;
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: var(--Primary2)!important;
    text-align: center;
    margin: 0!important
}