.wrapper {
	padding-bottom: 20px;

}

.wrapper > h4 {
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 20px;
	color: var(--Text-color-2);
}

.wrapperPagination {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}

.swiper {
	padding: 0 1px;
}

.wrapperTabs {
	display: flex;
	gap: 12px;
}

.linkToSlide {
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	color: var(--Text-color-3);
	padding: 5px 10px;
	border-radius: 8px;
}

.activeLink {
	background-color: var(--Background-color-4);
}

.wrapperArrows {
	display: flex;
    justify-content: center;
    align-items: center;
	gap: 20px;
	transform: translateY(10px);
}

.arrow {
	max-height: max-content;
	display: flex;
	position: static;
	transition: all .1s ease-out;
}

.buttonPrew:hover {
	transform: translateX(-3px);
}

.buttonNext:hover {
	transform: translateX(3px);
}

.button_disable path {
	stroke: var(--Text-color-5);
	opacity: .3;
}