.wrapper {
	padding-bottom: 20px;
}

.wrapper > h4 {
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 20px;
	color: var(--Text-color-2);
}

.wrapperPagination {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}

.wrapperTabs {
	display: flex;
	gap: 12px;
}

.linkToSlide {
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	color: var(--Text-color-3);
	padding: 5px 10px;
	border-radius: 8px;
}

.activeLink {
	background-color: var(--Background-color-4);
}

.wrapperArrows {
	display: flex;
	gap: 12px;
	align-items: center;
}

.wrapperArrows span {
	padding: 2px;
	display: flex;
}

.wrapperArrows span:hover {
	background-color: var(--Background-color-2);
}