.wrapper {
	
}

.wrapperPagination {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}

.swiper {
	padding: 0 1px;
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-bottom: 20px;
}

.wrapperTabs {
	display: flex;
	gap: 12px;
}

.linkToSlide {
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	color: var(--Text-color-2);
	padding: 5px 10px;
	border-radius: 8px;
}

.activeLink {
	background-color: var(--Background-color-4);
}

.wrapperArrows {
	display: flex;
    justify-content: center !important;
    align-items: center !important;
	gap: 12px;
	max-height: 20px;
	overflow: visible;
}

.headerWrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 20px;
}

.headerWrapper h4 {
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: var(--Text-color-1);
}

.arrow {
	min-height: 34px;
	max-height: 34px;
	min-width: 34px;
	display: flex;
	position: static;
	transition: all .1s ease-out;
	align-self: center;
	transform: translateY(20px);
	padding: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.arrow svg {
	min-width: 20px;
	min-height: 20px;
}

.arrow:hover {
	background-color: var(--Background-color-4);
}

.button_disable path {
	stroke: var(--Text-color-5);
}

.pagination {
    position: absolute;
	bottom: 0 !important;
	display: none !important;
    max-height: max-content !important;
    margin: 0;
	bottom: 0;
    align-items: center;
    display: flex;
    max-width: max-content;
    gap: 6px;
	left: 50% !important;
    transform: translateX(-50%);
}

.pagination span {
    display: inline-block;
    background-color: var(--Text-color-2);
    border-radius: 19px;
    width: 8px;
    height: 8px;
    position: static;
    margin: 0 !important;
}

@media screen and (max-width: 695px) {
	.wrapperArrows {
		display: none;
	}

	.pagination {
		display: flex !important;
		bottom: 0px !important;
	}
	
	.wrapper {
		margin-bottom: 16px;
	}
}