.wrapper {
    padding: 16px 24px;
}

.iframe {
    margin-top: 30px;
    width: 100%;
    height: 560px;
    border-radius: 20px;
    border-color: solid 1px var(--Background-color-2);
}

.overview {
    margin-top: 24px;
    padding-bottom: 31px;
    margin-bottom: 24px;
    border-bottom: solid 1px var(--Background-color-2);
}

.overview p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    color: var(--Text-color-2);
}

.overview h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: var(--Text-color-1);
    margin-bottom: 8px;
}


