.button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    display: block;
    min-width: min-content;
    width: 100%;
    max-width: 100%;
    cursor: copy;
}

.button > {
    width: 100%;
    cursor: copy;
}

.button p {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: var(--Text-color-2);
}

@media screen and (min-width: 696px) {
    .button p {
        display: none;
    }
}