.button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    display: block;
    min-width: min-content;
    width: 100%;
}

.button > div {
    width: 100%;
}