.wrapper {
    display: flex;
    width: max-content;
    min-width: max-content;
    gap: 16px;
    align-items: center;
    margin-left: 16 px;
}

@media screen and (max-width: 767px) {
    .wrapper {
        display: none;
    }
}