.mainWrapper {
    max-width: 1440px;
    width: 100%;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100vh;
}

.mainGrid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'sidebar header'
    'sidebar mainContent';
}

/* .contentColumnWrapper {
    grid-area: mainContent;
    min-width: 100%;
} */

.sidebar {
    grid-area: sidebar;
}

.header {
    grid-area: header;
}

.content {
    grid-area: mainContent;
}

@media screen and (max-width: 900px) {
    .mainGrid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        'header'
        'mainContent';
    }
    .sidebar {
        display: none !important;
    }
}