.wrapper {
    display: flex;
    margin: 200px auto;
    max-width: max-content;
    align-items: center;
    flex-direction: column;
}

.wrapper h4 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    color: var(--Text-color-2);
    margin-top: 6px;
    margin-bottom: 12px !important;
}

.wrapper p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--Text-color-3);
    margin-top: 2px;
    text-align: center;
}


@media screen and (max-width: 1200px) {
    .wrapper {
        margin-right: -50%;
    }
}

@media screen and (max-width: 696px) {
    .wrapper {
        margin-top: 100px
    }
}