.wrapper {
    display: flex;
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 100%;
}

.wrapper.child {
    padding: 0;
    border-radius: 0;
}

.wrapper:hover {
    background-color: var(--Background-color-4);
    cursor: pointer;
}

.wrapper.child:hover {
    background-color: #fff;
}

.imageWrapper{
    display: flex;
    position: relative;
    margin-right: 14px;
    max-width: max-content;
    max-height: max-content;
}

.wrapper.child  .imageWrapper {
    display: none;
}

.logo {
    min-width: 42px;
    min-height: 42px;
    border-radius: 12px;
}

.featuredLogo {
    position: absolute;
    right: -5px;
    top: -2px;
    border: solid 1px #fff;
    border-radius: 20px;
    width: 16px;
    height: 16px;
}

.wrapper:hover .featuredLogo {
    border: solid 1px var(--Background-color-4);
}

.titleWrapper {
    max-height: max-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.titleWrapper .title {
    font-size: 16px;
    font-weight: 700;
    color: var(--Text-color-2);
    border-radius: 20px;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    /* padding-right: 20px; */
    line-height: normal;
}

.wrapper.child {

}

.wrapper.child .titleWrapper .title {
     border-radius: 0;
}

.titleWrapper p {
    font-size: 14px;
    font-weight: 500;
    color: var(--Text-color-4);
    line-height: normal;
}

.titleWrapper span {
    border-radius: 50%;
    background-color: var(--Background-color-1);

    min-height: 6px;
    min-width: 6px;
    width: 6px;
    height: 6px;
}

.subTitle {
    display: flex;
    align-items: center;
    gap: 8px;
}

.arrow {
    display: flex;
    opacity: 0;
    transition: all .1s ease-out;
    align-self: center;
    margin-left: auto;
    max-height: max-content;
    max-width: max-content;
    margin-right: 20px;
}

.wrapper:hover .arrow {
    opacity: 1;
    margin-right: 0;
}

.wrapper.child .arrow {
}

.wrapper.child:hover .arrow {
    opacity: 0;
}

p.featured {
    margin-left: -3px;
    font-size: 14px;
    font-weight: 700;
    color: var(--Primary5);
}

@media screen and (max-width: 1024px) {
    p.featured {
       display: none;
    }
}