.wrapper {
    display: flex;
    max-width: 100%;
    width: 100%;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    z-index: 100;
    min-height: 41.5px;
}

.inactive {
    z-index: 10;
}

.wrapper > div {
    flex: 1;
}

.form {
    position: relative;
    display: flex;
    min-width: 100%;
    height: 100%;
}

.mainInput {
    font-size: 14px;
    font-weight: 400;
    color: var(--Text-color-2);
    display: flex;
    flex: 1;
    
    width: 100%;
    padding: 10px 38px;
    
    border-radius: 14px;
    border: none;

    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--Background-color-4);
}

.mainInput:-webkit-autofill,
.mainInput:-webkit-autofill:hover,
.mainInput:-webkit-autofill:focus,
.mainInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 10em rgb(255, 255, 255) inset !important;
  -webkit-text-fill-color: var(--Text-color-2) !important;
  box-shadow: var(--Shadow-buttons-default);
  border: 1px solid var(--Background-color-2);
}

.mainInput:focus {
    box-shadow: var(--Shadow-input-active);
    outline: 1px solid var(--Primary1);
    background-color: var(--Background-color-5);

}

.mainInput::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: var(--Text-color-4);
}

.searchLogo {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.closeLogo {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.closeLogo:active, .searchLogo:active {
    scale: 0.9;
}

.dropDownWrapper{
    position: absolute;
    display: flex;
    top: 48px;
    left: 0;
    /* transform: translateY(-34px); */
    width: 100%;
    max-width: 100%;
    
    background-color: var(--Background-color-5);
    box-shadow: var(--Shadow-card-medium);
    border-radius: 18px;
    border: 1px solid var(--Background-color-2);
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.notFoundDataWrapper {
    align-items: center;
    padding: 24px;
    text-align: center;
}

.notFoundDataWrapper div h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--Text-color-2);
    margin-top: 10px;
}

.notFoundDataWrapper div p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: var(--Text-color-3);
    margin-top: 8px;
}


/* @media screen and (max-width: 900px) {
    .dropDownWrapper {
        grid-template-columns: 1fr;
        left: -58px;
        right: 0;
        min-width: calc(100% + 58px) ;
    }

} */