.wrapper {
    display: flex;
    gap: 10px;
    margin-left: auto;
    width: max-content;
    
}

.button {
    display: flex;
    align-items: center;
    gap: 6px;

    padding: 5px 10px;
    cursor: pointer;

    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: var(--Text-color-4);
    background-color: var(--Background-color-4);
    border-radius: 8px;

    min-width: max-content;
    transition: all ease-in .1s;
    overflow: hidden;
}

.button svg {
    transform: translateX(25px);
    margin-left: -18px;
    opacity: 0;
    transition: all ease-in .1s;
}

.active svg {
    transform: translateX(0);
    margin-left: 0;
    opacity: 1;
    transition: all ease-in .1s;
}

.active {
    background-color: var(--Soft1);
    color: var(--Primary1);
}

@media screen and (max-width: 696px) {
    .wrapper {
        margin-top: 14px;
        margin-left: 0;
        gap: 12px;
        max-width: 100%;
        width: 100%;
        flex-wrap: wrap;
    }
}