.wrapper {
    display: flex;
    align-items: center;
    max-width: max-content;
    padding: 9px;
    border-radius: 14px;
    box-shadow: var(--Shadow-buttons-default);
    border:solid 1px var(--Background-color-2);
    background: var(--Primary6);
    cursor: pointer;

    position: absolute;
    top: 23px;
    right: -50px;
    z-index: 39;
}

.wrapper:hover {
    border:solid 1px var(--Background-color-1);
    box-shadow: var(--Shadow-buttons-hover);
}

.wrapper:active {
    background: var(--Background-color-4);
    box-shadow: var(--Shadow-buttons-default);
}

@media screen and (min-width: 1025px) {
    .wrapper {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .wrapper {
        position: absolute;
        right: 20px;
    }
}