.wrapper {
    position: relative;
    width: 100%;
    border: 1px solid var(--Background-color-1);
    box-shadow: var(--Shadow-card-medium);
    border-radius: 12px;
    display: flex;
    overflow: hidden;
    /* background: #F6F6F7; */
    background: #000;
}

.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: max-content;
    z-index: 2;
    /* background: linear-gradient(270deg, rgba(246, 246, 247, 0.00) 0%, rgba(246, 246, 247, 0.72) 28.4%, #F6F6F7 74.95%); */
    background: linear-gradient(270deg, rgba(246, 246, 247, 0.00) 0%, rgb(0, 0, 0) 40%, #000000 84.95%);
}

.main h1 {
    /* color: var(--Text-color-1); */
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.main p {
    color: var(--Text-color-2);
    color: #A1A1AA;
    margin-bottom: 16px;
}

.button {
    height: max-content;
}

.img {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 620px;
    width: 100%;
    height: auto;
    z-index: 1;
}

.img__mb {
    display: none;
    /* position: absolute; */
    top: 0;
    left: 0;
    min-width: 450px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 690px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
    .img {
        display: none;
    }

    .img__mb {
        display: flex;
        z-index: 0;
    }

    .main {
        padding-top: 0;
        min-width: 100%;
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 40%, #00000000 75%);
        z-index: 1;
    }
}