.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 18;
    background: rgba(50, 59, 75, 0.12);
    /* backdrop-filter: blur(2.5px); */
}

@media screen and (max-width: 900px) {
    .main {
        z-index: 19;
    }
}