.wrapper {
    position: sticky;
    top: 0;
    padding: 24px;
    background: rgba(255, 255, 255, 0.90);
    align-items: center;
    display: flex;
    z-index: 21;
    min-height: min-content;
}

@media screen and (max-width: 900px) {
    .wrapper {
        z-index: 20;
    }
}