.categoriesWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 24px;
    border-bottom: solid 1px var(--Background-color-2);
    margin-bottom: 24px;
}

.category {
    display: flex;
    padding: 10px;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    border-radius: 14px;
    min-width: 218px;
}

.category:hover {
    background-color: var(--Background-color-4);
}


.category p {
    font-size: 14px;
    font-weight: 500;
    color: var(--Text-color-2)
}

.arrow {
    margin-left: auto;
    margin-right: 20px;
    opacity: 0;
}

