.categoriesWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 16px;
    border-bottom: solid 1px var(--Background-color-2);
    margin-bottom: 16px;
}

.category {
    display: flex;
    padding: 8px;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    min-width: 218px;
    transition: all ease-in-out .1s;
}

.category:hover {
    background-color: var(--Background-color-4);
}   

.category p {
    font-size: 14px;
    font-weight: 500;
    color: var(--Text-color-2)
}

.category svg {
    width: 22px;
    height: 22px;
}

.arrow {
    margin-left: auto;
    margin-right: 20px;
    opacity: 0;
    transition: all .1s ease-out;
}

.active .arrow {
    opacity: 1;
    margin-right: 0px;
}

.active {
    background-color: var(--Background-color-3);
}

.active:hover {
    background-color: var(--Background-color-3);
}
