.wrapper {
    display: flex;
    align-items: center;

    padding: 9px 12px;
    border-radius: 14px;

    background: var(--Primary6);
    box-shadow: var(--Shadow-buttons-default);
    border: solid 1px var(--Background-color-2);
    
    box-sizing: border-box;
    cursor: pointer;
    min-width: min-content;
    min-height: min-content;
    height: min-content;
}

.wrapper svg {
    box-sizing: border-box;
}

.wrapper:hover {
    border:solid 1px var(--Background-color-1);
    box-shadow: var(--Shadow-buttons-hover);
}

.wrapper:active {
    background: var(--Background-color-4);
    box-shadow: var(--Shadow-buttons-default);
}

@media screen and (min-width: 901px) {
    .wrapper {
        display: none;
    }
}