.wrapper {
    display: flex;
    min-width: min-content;
    max-width: max-content;
    flex-direction: column;
    min-height: 100vh;
    border-right: 1px solid var(--Background-color-2);
    background-color: var(--Primary6);
    z-index: 2;
    background-color: var(--Primary6);
}

.stickyWrapper {
    position: sticky;
    top: 0;
}

.scrollWrapper {
    position: relative;
    max-height: 100vh;
    padding: 23px 16px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollWrapper::-webkit-scrollbar {
    display: none;
}

.linkLogo {
    width: auto;
}

.subtitle {
    color: var(--Text-color-4);
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 10px;
}

.category:hover > .arrow{
    margin-right: 0;
    opacity: 1;
}

.cardLink {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px var(--Background-color-2);
    gap: 10px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.UiscoreLogo {
    border: solid 1px var(--Background-color-2);
    border-radius: 14px;
    overflow: hidden;
    display: flex;
}

.cardHelp {
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-shadow: var(--Shadow-card-large);
    max-width: 218px;
}

.cardHelp h5 {
    white-space: wrap;
    color: var(--Text-color-1);
    font-size: 14px;
    font-style: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.cardHelp p {
    white-space: wrap;
    font-size: 14px;
    font-weight: 400;
    color: var(--Text-color-2);
    margin-bottom: 12px;
}

.UiscoreLogo video {
    width: 100%;
    max-width: 218px;
    border-right: solid 0px;
}

.UiscoreLogo img {
    display: none;
}

.hWrapper {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    /* box-shadow: 0px 2px 2px -1px rgba(138, 148, 166, 0.13); */
}

.hWrapper h4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--Text-color-2);
}

.hWrapper p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--Text-color-3);
}

.footer p {
    margin-top: 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: var(--Text-color-4);
}

.linkWrapper {
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.link {
    border-radius: 8px;
    padding: 6px;
    max-width: max-content;
    max-height: 32px;
    background-color: var(--Background-color-4);
    transition: all ease-in-out .1s;
}

.tuk {
    background-color: var(--Background-color-2);
    min-width: 100%;
    width: 100%;
    height: 1px;
    margin: 16px 0;
}

@media screen and (max-width: 902px) {
    .UiscoreLogo img {
        display: flex;
    }

    .UiscoreLogo video {
        display: none;
    }
}
@media screen and (max-width: 550px) {
    .footer p {
        margin-bottom: 24px;
    }

    .linkWrapper {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}