.wrapper {
    display: flex;
    padding-bottom: 30px;
    border-bottom: solid 1px var( --Background-color-2);
}

.img {
    min-width: min-content
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 20px;
}

.titleWrapper > h3 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--Text-color-2);
}

.titleWrapper > p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: var(--Text-color-4);
}

.tagList {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: var(--Text-color-4);
    gap: 10px;
}

.tagList span {
    border-radius: 50%;
    background-color: var(--Background-color-1);
    min-height: 6px;
    min-width: 6px;
    width: 6px;
    height: 6px;
    transform: translateY(1px);
}

.tagList > div {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: var(--Primary5);
}

.tagList > div span {
    margin-right: 10px;
}

.tagList > div p {
    margin-left: 5px;
}

.buttonWrapper {
    margin-left: auto;
    display: flex;
    max-height: min-content;
    height: max-content;
    gap: 10px;
}