.wrapper {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
    overflow: hidden;
}

.img {
    border-radius: 16px;
    box-shadow: var(--Shadow-card-small);
    border: 1px solid var(--Background-color-2);
    margin-bottom: 15px;
}