.wrapper {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    background-color: var(--Background-color-4);
    box-shadow: var(--Shadow-card-medium);
    border-radius: 14px;
    border: 1px solid var(--Background-color-1);
    transition: all .1s;
    display: flex;
}

.wrapper:hover {
    box-shadow: var(--Shadow-card-XL);
}

.headerCard {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 12px;
}

.headerCard h4 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: var(--Text-color-1);
}

.footer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer span {
    min-width: 6px;
    max-width: 6px;
    min-height: 6px;
    max-height: 6px;
    border-radius: 50%;
    background-color: var(--Background-color-1);
}

.footer p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: var(--Text-color-2);
}

.featured {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: var(--Primary5);
}

.featuredWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.featuredWrapper p {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    color: var(--Primary5);
}

.arrow {
    display: flex;
    opacity: 0;
    position: absolute;
    bottom: 18px;
    right: 20px;
    transition: all .1s ease-out;
    max-height: max-content;
    max-width: max-content;
}

.wrapper:hover .arrow {
    opacity: 1;
    right: 0px;
}