.button {
    border-radius: 12px;
    gap: 5px;

    max-width: 100%;
    width: max-content;
    min-width: max-content;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;

    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap
}

.maxWidth {
    width: 100%;
}

/* .iconRight {
    padding-left: 20px;
}

.iconLeft {
    padding-right: 20px;
} */

.sizeEs {
    padding: 10px 18px;
}

.sizeEs.icon {
    padding: 9px;
}

.sizeEs.iconLeft{
    padding: 9px 18px 9px 12px;
}

.sizeEs.iconRight {
    padding: 9px 12px 9px 18px;
}

.sizeS {
    padding: 12px 20px;
}

.sizeS.icon {
    padding: 11px;
}

.sizeS.iconLeft{
    padding: 11px 20px 11px 14px;
}

.sizeS.iconRight {
    padding: 11px 14px 11px 20px;
}

.sizeM {
    padding: 14px 20px;
}

.sizeM.icon {
    padding: 13px;
}

.sizeM.iconLeft{
    padding: 13px 20px 13px 13px;
}

.sizeM.iconRight {
    padding: 13px 13px 13px 20px;
}

/*-Primary-*/

.primary {
    background-color: var(--Primary1);
    color: var(--Primary6);
}

.primary.disable {
    cursor:not-allowed;
    pointer-events: none;
    background-color: var(--Disabled-color1);
}

.primary:hover {
    background-color: var(--Hover-Primary1);
}

.primary:active {
    background-color: var(--Active-Primary1);
}

/*-LinkGhost-*/

.linkGhost {
    color: var(--Text-color-4);
    padding: 0;
    max-height: max-content;
    height: max-content;
}

.linkGhost:hover, .linkGhost:hover svg path {
    color: var(--Primary1);
    stroke: var(--Primary1);
}

.linkGhost:active, .linkGhost:active svg path {
    color: var(--Active-Primary1);
    stroke: var(--Active-Primary1);
}

/*-defaultGhost-*/

.defaultGhost {
   border: solid 1px var(--Background-color-2);
   box-shadow: var(--Shadow-buttons-default);
}

.defaultGhost:hover, .defaultGhost:hover svg path {
    border-color: var(--Background-color-1);
    box-shadow: var(--Shadow-buttons-hover);
}

.defaultGhost:active, .defaultGhost:active svg path {
   background-color: var(--Background-color-4);
}