.button {
    border-radius: 12px;
    gap: 5px;

    max-width: 100%;
    width: max-content;
    min-width: max-content;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;

    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
    transition: all ease-in-out .1s;
}

.maxWidth {
    width: 100%;
}

/* .iconRight {
    padding-left: 20px;
}

.iconLeft {
    padding-right: 20px;
} */

.sizeEs {
    padding: 10px 18px;
    border-radius: 12px;
}

.sizeEs.icon {
    padding: 9px;
}

.sizeEs.iconLeft{
    padding: 9px 18px 9px 12px;
}

.sizeEs.iconRight {
    padding: 9px 12px 9px 18px;
}

.sizeS {
    padding: 9px 18px;
    border-radius: 10px;
}

.sizeS.icon {
    padding: 11px;
}

.sizeS.iconLeft{
    padding: 9px 18px 9px 12px;
}

.sizeS.iconRight {
    padding: 9px 12px 9px 18px;
}

.sizeM {
    padding: 14px 20px;
    border-radius: 10px;
}

.sizeM.icon {
    padding: 13px;
}

.sizeM.iconLeft{
    padding: 13px 20px 13px 13px;
}

.sizeM.iconRight {
    padding: 13px 13px 13px 20px;
}

/*-Primary-*/

.primary { 
    border: 1px solid var(--Active-Primary1, #257DE4);
    background: var(--Primary1);
    /* Button Styles/Button Primary 1/Button Primary Default */
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset;
    color: var(--Primary6);
}

.primary.disable {
    border: 1px solid var(--Secondary1);
    cursor: not-allowed;
    pointer-events: none;
    background-color: var(--Disabled-color1);
}

.primary:hover {
    background-color: var(--Hover-Primary1);
}

.primary:active {
    border: 1px solid var(--border-primary-border-primary-1, #257DE4);
    background-color: var(--Active-Primary1);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 3px rgba(36, 137, 255, 0.25);
}

/*-LinkGhost-*/

.linkGhost {
    color: var(--Text-color-4);
    padding: 0;
    max-height: max-content;
    height: max-content;
}

.linkGhost:hover, .linkGhost:hover svg path {
    color: var(--Primary1);
    stroke: var(--Primary1);
}

.linkGhost:active, .linkGhost:active svg path {
    color: var(--Active-Primary1);
    stroke: var(--Active-Primary1);
}

/*-defaultGhost-*/

.defaultGhost {
    border: solid 1px var(--Background-color-2);
    box-shadow: var(--Shadow-buttons-default);
    color: var(--Text-color-1);
    background-color: var(--Background-color-5 );
}

.defaultGhost:hover, .defaultGhost:hover svg path {
    border-color: var(--Background-color-1);
    box-shadow: var(--Shadow-buttons-hover);
}

.defaultGhost:active, .defaultGhost:active svg path {
    box-shadow: var(--Shadow-buttons-active);
}

/*-secondaryGhost-*/
.secondaryGhost {
    border-radius: 10px;
    background: var(--primary-colors-primary-6, #FFF);
    color: var(--Text-color-3);
}
.secondaryGhost:hover {
    background-color: var(--Background-color-4);
}

.secondaryGhost:active {
    background-color: var(--Background-color-3);
}

/*-defaultPrimary-*/

.defaultPrimary {
    border: 1px solid var(--Background-color-2);
    box-shadow: var(--Shadow-buttons-default);
    color: var(--Primary1);
}

.defaultPrimary:hover {
    border-color: var(--Background-color-1);
    box-shadow: var(--Shadow-buttons-hover);
}

.defaultPrimary:active, .defaultPrimary:active svg path  {
    box-shadow: var(--Shadow-buttons-active);
    color: var(--Active-Primary1);
    stroke: var(--Active-Primary1);
}

.defaultPrimary:disabled {
    border: 1px solid var(--Background-color-2);
    color: var( --Disabled-color1);
}